body {
    margin: 0 auto;
    max-width: 1000px;
    background-color: black;
}
body::-webkit-scrollbar {
    /*? 스크롤 바 없애는 CSS 코드 */
    display: none;
}

/*! ====================================================*/
/*! Header Zone
/*! ====================================================*/
header {
    position: fixed;
    display: flex;
    top: 0px;
}
#clock {
    font-family: 'Noto Sans KR', sans-serif;
    color: #353535;
    position: fixed;
    top: 0px;
    width: 980px;
    text-align: right;
}

.headerVideo {
    width: 1000px;
}
/*!====================================================*/

/*!====================================================*/
/*! movieList Zone
/*!====================================================*/
.movieList {
    border: 1px solid #000000;
    background-color: #000000;
    margin-top: 562.5px;
    padding-bottom: 20px;
}

.List {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.poster {
    width: 250px;
    height: 350px;
    margin-top: 40px;
    cursor: pointer;
}

.age {
    width: 20px;
    margin-right: 6px;
    align-self: center;
}

.movieName {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #ffffff;
    display: flex;  /* 수평 정렬을 위해 추가 */
    align-items: center; 
}

.showTime {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.movieInfo {
    display: flex;
    align-items: center;
    height: 50px;
    text-align: right;
    justify-content: space-between;
}

.poster {
    width: 250px;
    height: 350px;
}
/*!====================================================*/

/*!====================================================*/
/*! Ticket Zone
/*!====================================================*/
.Ticket {
    border: 1px solid white;
    width: 1000px;
    height: 875px;
    margin-top: 562.5px;
    position: fixed;
    background-color: white;
    display: none;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 27.5px;
    font-family: 'Noto Sans KR', sans-serif;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.backicon {
    width: 40px;
    margin-left: 25px;
    cursor: pointer;
}

.homeicon {
    width: 40px;
    margin-right: 25px;
    cursor: pointer;
}
.ticketInfo {
    display: flex;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 19px;
    color: #777777;
}

.ticketImg {
    width: 150px;
    margin-top: 50px;
    margin-left: 65px;
    margin-right: 30px;
    border-radius: 10px;
}

/* Age Rating 이미지 스타일 */
.ageRatingImg {
    width: 24px; /* 이미지의 폭 조절 */
    margin-right: 10px; /* 이미지와 텍스트 사이의 간격 조절 */
    margin-bottom: 36px;
}

.ticketInfoText {
    display: flex;
    flex-direction: column;
}

.ticketInfoText p {
    margin: 5px 0;
}

.justline {
    border: 0.1px solid rgba(0, 0, 0, 0.05);
    border-bottom-style: none;
    margin-top: 50px;
}

.ticketGuide {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 19px;
    margin-bottom: 80px;
}
.howmanypeople {
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 72.5px;
    margin-right: 70px;
    color: #777777;
    font-size: 20px;
}

.adult {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.teenager {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #eeeeee;
    cursor: pointer;
}
.number.zero {
    background-color: rgb(250, 130, 115);
    color: white;
}

.bottom {
    text-align: center;
    margin-top: 85px;
}
.nextbtn {
    width: 40px;
    cursor: pointer;
    visibility: hidden;
}
/*!====================================================*/

/*!====================================================*/
/*! Seat Zone
/*!====================================================*/
.Seat {
    border: 1px solid white;
    width: 1000px;
    height: 875px;
    margin-top: 562.5px;
    position: fixed;
    background-color: white;
    display: none;
}

.seatGrid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    width: 600px;
    margin: 0 auto;
}

.screen {
    text-align: center;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 0px 0px 50px 50px;
    font-size: 15px;
    height: 17.5px;
}

.seatRow {
    display: flex;
    justify-content: center;
}

.seat {
    width: 55px;
    height: 45px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.bottom2 {
    text-align: center;
    margin-top: 40px;
}

.nextbtn2 {
    width: 40px;
    cursor: pointer;
    visibility: hidden;
}

/*!====================================================*/

/*!====================================================*/
/*! Payment Zone
/*!====================================================*/
.Payment {
    border: 1px solid white;
    width: 1000px;
    height: 1437.5px;
    position: fixed;
    background-color: white;
    display: none;
}

.seatStatus {
    font-size: 14px;
}

.people {
    font-size: 14px;
}

.justline2 {
    border: 0.1px solid rgba(0, 0, 0, 0.05);
    border-bottom-style: none;
}

.price {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 28px;
    color: #777777;
}

.adultPrice {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}
.teenagerPrice {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}

.totalPrice {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 28px;
    color: #777777;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}
